---
name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    if: >
      github.event_name != 'pull_request'
      || github.event.pull_request.draft == false
    permissions:
      id-token: write
      contents: read
    uses: kimzuni-labs/workflows/.github/workflows/nodejs-lts-and-bun-ci.yml@main
    with:
      node-test-script: "test"
