---
name: Deploy

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release-please
        with:
          config-file: .release-please/config.json
          manifest-file: .release-please/manifest.json

  publish:
    runs-on: ubuntu-latest
    needs:
      - release-please
    permissions:
      id-token: write
    if: needs.release-please.outputs.release_created
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: |
            https://registry.npmjs.org

      - name: Update npm
        run: bun add -g npm@latest

      - name: Install dependencies
        run: bun ci

      - name: Build
        run: bun run build

      - name: Publish
        run: npm publish --access public
