---
name: Publish

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: |
            https://registry.npmjs.org

      - name: Update npm
        run: bun add -g npm@latest

      - name: Install dependencies
        run: bun ci

      - name: Build
        run: bun run build --if-present

      - name: Publish
        run: npm publish --access public
