---
name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-publish:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set variables
        id: vars
        run: |
          echo "### Determine publish tag"
          PUBLISH_TAG="dev"
          if [[ "${{ github.ref_name }}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            PUBLISH_TAG="latest"
          fi
          echo "Publish tag: $PUBLISH_TAG"
          echo "publish_tag=$PUBLISH_TAG" >> $GITHUB_OUTPUT

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: "https://registry.npmjs.org"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: bun ci

      - name: Build project
        run: bun run build

      - name: Publish to npm
        id: publish
        run: |
          npm publish --tag "${{ steps.vars.outputs.publish_tag }}"

      - name: Generate Release Notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
