---
name: Publish

on:
  release:
    types:
      - published

jobs:
  parse-semver:
    uses: kimzuni-labs/workflows/.github/workflows/parse-semver.yml@main
    with:
      tag_name: ${{ github.event.release.tag_name }}
      invalid_semver_policy: pass
  publish:
    uses: kimzuni-labs/workflows/.github/workflows/npm-publish-bun.yml@main
    needs:
      - parse-semver
    if: fromJSON(needs.parse-semver.outputs.is_valid_semver)
    permissions:
      id-token: write
    with:
      publish-tag: ${{ needs.parse-semver.outputs.publish_tag }}
