---
name: Release Please

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "package.json"
      - "tsdown.config.js"
      - "tsconfig.json"

jobs:
  release-please:
    uses: kimzuni-labs/workflows/.github/workflows/release-please.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
