---
name: Release Please

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: kimzuni-labs/workflows/.github/workflows/release-please.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
